@model IEnumerable<projMvcDemo.tProduct>

@{
    ViewBag.Title = "List";
}

<h2>商品一覽表</h2>
@using (Html.BeginForm())
{
    @:關鍵字 @Html.TextBox("txtKeyword") <input type="submit" value="查詢" /> 
}
<p>
    @Html.ActionLink("新增產品", "Create","Product",null, new { @class = "btn btn-outline-secondary" })
</p>
    <table class="table table-striped table-hover">
        <tr>
            <th>
                序
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fPrice)
            </th>
            <th>
                修改
            </th>
            <th>
                刪除
            </th>
        </tr>

        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fQty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fPrice)
                    </td>
                    <td>
                        @Html.ActionLink("修改", "Edit", "Product", new { id = item.fId }, new { @class = "btn btn-success" })
                    </td>
                    <td>
                        @Html.ActionLink("刪除", "Delete", "Product", new { id = item.fId }, new { onclick = "return confirm('確定要刪除產品嗎?')", @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        }

    </table>
